html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
  background-color: #212529;
}

a {
  text-decoration: none;
  color: inherit;
  /* font-weight: bold; */
}

/* ::-webkit-scrollbar {
  width: 0px;
  height: 5px;
} */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.fc {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}
.category-btn:hover {
  background-color: rgb(4 146 255) !important;
  color: white !important;
}
/* .category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
} */

.category-btn:hover span {
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
  z-index: 1 !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 250px;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar {
    width: 100px;
  }
}
.home {
  /* display:flex; */
  /* justify-content:center; */
  /* align-items:center; */
  height: 100vh;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  /* background-color: #FC1503; */
  /* color: white; */
  /* font-size: 50px; */
  /* font-weight: bold; */
  font-family: 'Roboto', sans-serif;
  /* text-align: center; */
}
ul {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
}

/* .about-page {
  font-size: 35px;
}
.about-page h1 {
  color: blue;
}
.about-page h2 {
  color: rgb(246, 255, 0);
}
.about-page p {
  color: #fff;
} */

/* AboutPage.css */
.about-page p {
  color: #fff;
}
.about-page h2 {
  color: #e0d612;
}
.about-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  /* background-color: #f0f0f0; */
  border-radius: 10px;
  font-size: 35px;
}

.about-title {
  text-align: center;
  font-size: 38px;
  color: #3939da;
  margin-bottom: 20px;
}

.section-title {
  font-size: 24px;
  color: #555;
  margin-bottom: 10px;
}

.whats-new ul,
.upcoming ul {
  list-style-type: none;
  padding: 0;
  color: #fff;
}

.whats-new li,
.upcoming li {
  margin-bottom: 5px;
  color: #fff;
}

.divider {
  border: none;
  height: 1px;
  /* background-color: #ccc; */
  margin: 20px 0;
}

/* Optional: Add more styling to enhance the appearance */
.whats-new li:before,
.upcoming li:before {
  content: '✨';
  margin-right: 5px;
}

.ovfy{
  overflow-y: scroll !important;
  max-height: 400px;
}